apiVersion: v1
kind: Secret
metadata:
  name: ghcr-secret
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: ewogICJhdXRocyI6IHsKICAgICJnaGNyLmlvIjogewogICAgICAidXNlcm5hbWUiOiAibG5nZXRoIiwKICAgICAgInBhc3N3b3JkIjogImdocF9DcEV3WmgwbzdFTWJJUWV4RndENk5rd0FzU0FraWExV1AxUTgiLAogICAgICAiZW1haWwiOiAibC5uZ2V0aEB5YWhvby5mciIsCiAgICAgICJhdXRoIjogImJHNW5aWFJvT21kb2NGOURjRVYzV21nd2J6ZEZUV0pKVVdWNFJuZEVOazVyZDBGelUwRnJhV0V4VjFBeFVUZz0iCiAgICB9CiAgfQp9Cg==
