name: CI Dockerized

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          docker build -t corrector_api:latest corrector_api/

      - name: Run container
        run: |
          docker run -d --name test_api -p 8000:8000 corrector_api:latest
          sleep 5

      - name: Run tests
        run: pytest tests/test_api_health_container.py

      - name: Stop container
        run: |
          docker stop test_api
          docker rm test_api